services:
  app:
    image: __DOCKER_USERNAME__/__APP_NAME__:__APP_VERSION__
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: express-app
    restart: unless-stopped
    environment:
      - PORT=3000
      - NODE_ENV=production
      - INSIDE_DOCKER=true
    volumes:
      - ./data:/app/data
    networks:
      - app-network
    expose:
      - "3000"

  nginx:
    image: __DOCKER_USERNAME__/__APP_NAME__-nginx:__APP_VERSION__
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
