name: Push Docker Images to Docker Hub

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      DOCKER_PAT:
        required: true


permissions:
  contents: read    # This is required for actions/checkout
  packages: write  # This is required for pushing Docker images

defaults:
  run:
    shell: bash


jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_PAT: ${{ secrets.DOCKER_PAT }}
      DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
      APP_VERSION: ${{ vars.APP_VERSION }}
      APP_NAME: ${{ vars.APP_NAME }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PAT }}
      - name: Build Docker Images
        run: |
          make init
          make build
      - name: Push Docker Images to Docker Hub
        run: |
          make push
